:root {
  --color-primary: #085070;
  --color-secondary: rgb(227, 69, 95);
  --color-white: #fff;
  --fw:700;
}
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.page-wrapper {
  padding: 0 5%;
}
/* Header footer*/
header,
footer {
  background: var(--color-primary);
  text-align: center;
  color: var(--color-white);
  font-weight: var(--fw);
}
.page-title {
  padding: 30px;
}
.copywrite {
  padding: 45px;
  font-size: 23px;
  text-align: center;
}
.banner-img img {
  width: 100%;
}
.inner-conatainer img {
  display: block;
  width: 308px;
  margin: 0 auto;
  border: 15px solid var(--color-white);
}
.middle-text {
  display: none;
}
.section-title {
  text-align: center;
  font-size: calc(16px + 2vw);
  padding: 3% 0;
  font-weight: var(--fw);
}

/* Media for Tablets*/
@media (min-width: 768px) {
  .page-wrapper,
  .two-images {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  footer,
  header {
    text-align: center;
  }
}
/* Media for starting form Laptops*/
@media (min-width: 992px) {
  .middle-text {
    display: block;
    border: 15px solid var(--color-white);
    background-color: var(--color-secondary);
    width: 308px;
  }
  .page-wrapper {
    margin-top: 2%;
  }
  .two-images img {
    display: flex;
    border: 40px solid var(--color-white);
  }
  .missing-text {
    text-align: center;
    padding: 38% 0;
    font-size: calc(16px + 1vw);
    font-weight: var(--fw);
  }
}
