* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.page-wrapper {
  margin: 0 auto;
  padding: 0 5%;
}
/* Header */
header,
footer {
  background: #085070;
  text-align: center;
  color: white;
  font-weight: 700;
}
.page-title {
  padding: 30px;
}
.copywrite {
  padding: 45px;
  font-size: 23px;
  text-align: center;
}
.banner-img img {
  width: 100%;
}
.inner-conatainer img {
  display: block;
  width: 308px;
  margin: 0 auto;
  border: 15px solid white;
}
.middle-text {
  display: none;
}
.section-title {
  text-align: center;
  font-size: calc(16px + 2vw);
  padding: 3% 0;
  font-weight: 700;
}

/* Media for Tablets*/
@media (min-width: 768px) {
  .page-wrapper,
  .two-images {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  footer,
  header {
    text-align: center;
  }
}
/* Media for starting form Laptops*/
@media (min-width: 992px) {
  .middle-text {
    display: block;
    border: 15px solid white;
    background-color: rgb(227, 69, 95);
    width: 308px;
  }
  .page-wrapper {
    margin-top: 2%;
  }
  .two-images img {
    display: flex;
    border: 40px solid #fff;
  }
  .missing-text {
    text-align: center;
    padding: 38% 0;
    font-size: calc(16px + 1vw);
    font-weight: 700;
  }
}
